* {
    margin: 0px;
    padding: 0px;
}


/*==================== start first part style=========================================*/


section {
    width: 100%;
    height: 100vh;
    background-color: black;
    margin-bottom: 100px;
}


section .main {
    width: 100%;
    height: 100%;
    background-image: url(../images/dark1.jpg);
    background-size: 100% 100%;
    position: relative;
    animation-name: changebackground;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


/*========animation======*/


@keyframes changebackground {
    25% {
        background-image: url(../images/dark2.jpg);


    }

    50% {
        background-image: url(../images/dark3.jpg);


    }


}

section .main .navebar {
    background-image: linear-gradient(170deg, black 80%, white);
    overflow: auto;
}


section .main .navebar ul {
    list-style-type: none;
}


section .main .navebar ul .lihover {
    float: left;
    padding: 10px 15px;
}



section .main .navebar ul .lihover:hover {
    background-color: darkblue;
    border-radius: 15px;
}

section .main .navebar ul .floatleft {
    float: left;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

section .main .navebar ul .floatleft .home {
    color: white;
    font-size: 30px;
    font-weight: bold;
}



section .main .navebar ul .floatright {
    float: right;
    padding: 10px 15px;
}


section .main .navebar ul .floatright button {
    padding: 5px;
    background-color: transparent;
    border-radius: 10px;
}


section .main .navebar ul .floatright .btn1 {
    border: 1px solid white;
}

section .main .navebar ul .floatright .btn1:hover {
    background-color: blue;
}



section .main .navebar ul .floatright .btn1 a {
    color: blue;
}

section .main .navebar ul .floatright .btn1 a:hover {
    color: white;
}

section .main .navebar ul .floatright .btn2 {
    border: 1px solid white;
}

section .main .navebar ul .floatright .btn2:hover {
    background-color: green;
}

section .main .navebar ul .floatright .btn2 a {
    color: green;
}


section .main .navebar ul .floatright .btn2 a:hover {
    color: white;
}


section .main .navebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}



section .main .layout {
    color: white;
    position: absolute;
    left: 30%;
    bottom: 5%;
    text-align: center;
}


section .main .layout h1 {
    margin: 30px auto;

}



/*==================== end first part style=========================================*/

/*==================== start media for first part style=========================================*/


/*-----------for tablet-------*/

@media(max-width:768px) {

    body {
        width: 128%;
    }

    section {
        height: 90vh;
        width: 44%;
    }

    section .main .navebar ul .floatleft .home {
        font-size: 11px;
    }



    section .main .navebar ul .lihover {
        padding: 3px 7px;
        font-size: 17px;
    }


    section .main .layout {
        left: 2%;
    }

    section .main .layout h1 {
        font-size: 16px;
        margin: 13px auto;
    }

    section .main .navebar ul li a {
        font-size: 17px;

    }

}

/*-----------for mobile-------*/


@media(max-width:600px) {

    body {
        width: 220%;
    }

    section {
        height: 485px;
    }

    section .main .layout {
        left: 20%;
    }

    section .main .navebar ul .lihover {
        padding: 0px 0px;
        font-size: 21px;
    }

    section .main .layout h1 {
        margin: 28px auto;
        font-size: 25px;
        margin-right: 55px;
    }

    section .main .layout p {
        font-size: 13px;
        margin-left: -65px;
    }




}

/*==============================end media for first part style==================================*/


















/*==============================start second part==================================*/

.about {
    height: auto;
}


.about h1 {
    font-size: 50px;
    color: white;
    text-align: center;
}


.about .hr1 {
    width: 50%;
    margin: 10px auto;
    background-color: white;
    height: 3px;
}

.about .hr2 {
    width: 45%;
    margin: 15px auto;
    border: 2px dashed white;
}


.about .hr3 {
    width: 35%;
    margin: 15px auto;
    border: 2px dashed white;
}


.about .content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
}

.about .content .image {
    width: 30%;
    background-color: blue;
    height: auto;
}


.about .content .image .img {
    width: 100%;
    height: 100%;
}


.about .content .text {
    width: 70%;
    background-color: black;
    height: auto;
    color: white;
    text-align: center;

}


.about .content .text h1 {
    margin: 15px;
    font-size: bold;
}

.about .content .text p {
    margin: 20px;
    font-size: 19px;
}






/*==============================end second part==================================*/


/*==================== start media for second part style=========================================*/

/*-----------for tablet-------*/


@media(max-width:768px) {

    .about h1 {
        font-size: 25px;

    }

    .about .hr1 {

        width: 25%;
        height: 1px;
    }

    .about .hr2 {
        width: 30%;
        border: 1px dashed white;
    }

    .about .hr3 {
        width: 25%;
        border: 1px dashed white;
    }

    .about .content .text h1 {
        font-size: 28px;
    }

    .about .content .image {
        width: 50%;
    }

    .about .content .text p {
        font-size: 10px;
    }



}

/*-----------for mobile-------*/


@media(max-width:600px) {



    .about h1 {
        font-size: 30px;
    }

    .about .hr1 {
        width: 50%;
        height: 2px;

    }

    .about .hr2 {
        width: 40%;
        border: 1px dashed white;
    }

    .about .hr3 {
        width: 30%;
        border: 1px dashed white;
    }

    .about .content .image {
        width: 80%;
        margin-right: 5px;
    }

    .about .content .text h1 {
        font-size: 30px;
    }

    .about .content .text p {

        font-size: 20px;

    }
}


/*==============================end media for second part style==================================*/






/*======================= start gallary style======================*/

.Gallary {
    height: auto;
}


.Gallary h1 {
    font-size: 50px;
    color: white;
    text-align: center;
}


.Gallary .hr1 {
    width: 50%;
    margin: 10px auto;
    background-color: white;
    height: 3px;
}

.Gallary .hr2 {
    width: 45%;
    margin: 15px auto;
    border: 2px dashed white;
}


.Gallary .hr3 {
    width: 35%;
    margin: 15px auto;
    border: 2px dashed white;
}


.but {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: black;
}

.Gallary .but {
    margin-top: 40px;
    border-bottom: 2px solid white;
    height: auto;
}

.Gallary .but .test3 {
    margin-left: 429px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: blueviolet;
    font-size: 15px;
}

.Gallary .but .test2 {
    margin-left: 36%;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: blueviolet;
    font-size: 15px;
}

.Gallary .but .test {
    margin-left: 58px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: blueviolet;
    font-size: 15px;
}

.mm {
    width: 100%;
    height: auto;
    display: flex;
    background-color: black;
    flex-wrap: wrap;



}

.mm .image1 .img2 {
    width: 300px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 20px;
}

.mm .image2 .img3 {
    width: 300px;
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 20px;

}

.mm .image3 .img4 {
    width: 300px;
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 20px;


}

.mm .image4 .img5 {
    width: 300px;
    margin-top: 20px;
    border-radius: 20px;


}

.mm .image5 .img6 {
    width: 300px;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 230px;

}

.mm .image6 .img7 {
    width: 300px;
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 20px;
}



/*======================= end gallary style======================*/


/*==================== start media for gallary style=========================================*/

/*-----------for tablet-------*/


@media(max-width:768px) {

    .Gallary h1 {
        font-size: 25px;
    }

    .Gallary .hr1 {

        width: 50%;
        height: 1px;
    }

    .Gallary .hr2 {
        width: 30%;
        border: 1px dashed white;
    }

    .Gallary .hr3 {
        width: 25%;
        border: 1px dashed white;
    }

    .Gallary .but {
        margin-top: 25px;
    }

    .Gallary .but .test3 {
        margin-left: 30%;
        font-size: 10px;
        padding: 8px 5px;
    }

    .Gallary .but .test2 {
        padding: 8px 5px;
        margin-left: 30%;
        font-size: 10px;
    }


    .Gallary .but .test {
        margin-left: 13px;
        font-size: 10px;
        padding: 8px 5px;
    }

    .mm .image1 .img2 {
        width: 140px;
        height: 90px;
    }

    .mm .image2 {
        width: 50%;
    }

    .mm .image2 .img3 {
        width: 140px;
        height: 90px;
        margin-left: 102px;
    }

    .mm .image3 .img4 {
        width: 140px;
        height: 90px;
        margin-left: 30px;
    }

    .mm .image4 {
        width: 50%
    }

    .mm .image4 .img5 {
        width: 140px;
        height: 90px;
        margin-left: 102px;
    }

    .mm .image5 {
        width: 50%
    }

    .mm .image5 .img6 {
        width: 140px;
        height: 90px;
        margin-left: 30px;
    }

    .mm .image6 .img7 {
        width: 140px;
        height: 90px;
        margin-left: 50px;
    }
}

/*-----------for mobile-------*/


@media(max-width:600px) {

    .Gallary .but .test {
        margin-left: 50px;
        font-size: 30px;
    }

    .Gallary .but .test2 {
        margin-left: 12%;
        font-size: 31px;
    }

    .Gallary .but .test3 {
        margin-left: 133px;
        font-size: 33px;
    }

    .Gallary h1 {
        font-size: 30px;
    }

    .Gallary .hr1 {
        width: 50%;
        height: 2px;

    }

    .Gallary .hr2 {
        width: 40%;
        border: 1px dashed white;
    }

    .Gallary .hr3 {
        width: 30%;
        border: 1px dashed white;
    }

    .Gallary .but .test {
        margin-left: 8px;
        font-size: 14px;
    }

    .Gallary .but .test2 {
        margin-left: 18%;
        font-size: 15px;
    }

    .Gallary .but .test3 {
        margin-left: 55px;
        font-size: 15px;
    }

    .mm .image1 {
        width: 100%;
        height: auto;
    }


    .mm .image1 .img2 {

        width: 95%;
        height: auto;
        margin-left: 8px;
    }

    .mm .image2 {
        width: 100%;
        height: auto;
    }

    .mm .image2 .img3 {

        width: 95%;
        height: auto;
        margin-left: 8px;
    }

    .mm .image3 {
        width: 100%;
        height: auto;
    }

    .mm .image3 .img4 {

        width: 95%;
        height: auto;
        margin-left: 8px;
    }

    .mm .image4 {
        width: 100%;
        height: auto;
    }

    .mm .image4 .img5 {

        width: 95%;
        height: auto;
        margin-left: 8px;
    }


    .mm .image5 {
        width: 100%;
        height: auto;
    }

    .mm .image5 .img6 {

        width: 95%;
        height: auto;
        margin-left: 8px;
    }

    .mm .image6 {
        width: 100%;
        height: auto;
    }

    .mm .image6 .img7 {

        width: 95%;
        height: auto;
        margin-left: 8px;
    }








}



/*==============================end media for second part style==================================*/






/*================================== start contact style===================================*/


.contact {
    height: auto;
}


.contact h1 {
    font-size: 50px;
    color: white;
    text-align: center;
}


.contact .hr1 {
    width: 50%;
    margin: 10px auto;
    background-color: white;
    height: 3px;
}

.contact .hr2 {
    width: 45%;
    margin: 15px auto;
    border: 2px dashed white;
}


.contact .hr3 {
    width: 35%;
    margin: 15px auto;
    border: 2px dashed white;
}

.mm2 {
    width: 50%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    display: flex;
}

.mm2 .pp {
    font-size: 39px;
    padding: 13px 150px;
    color: blueviolet;
}

.mm3 {
    width: 50%;
    height: auto;
    text-align: center;
    display: flex;
}


.dv1 {
    width: 50%;
    height: 100%;
    background-color: black;
    display: flex;
    flex: auto;
}

.mm3 .dv1 .di1 {
    padding: 10px;
    color: blueviolet;
}


.mm3 .dv1 .di1 .em {
    text-align: center;
    font-size: 20px;
    color: blueviolet;
    padding-bottom: 15px;
}

.mm3 .dv1 .di1 .il {
    width: 140%;
    height: 24px;
    border-radius: 10px;

}


.mm3 .dv1 .di2 {
    /* float: right; */
    width: 58%;
    padding: 10px;
}

.mm3 .dv1 .di2 .pa {
    text-align: center;
    font-size: 20px;
    color: blueviolet;
    padding-bottom: 15px;

}

.mm3 .dv1 .di2 .il1 {
    width: 58%;
    height: 24px;
    border-radius: 10px;

}


.mm4 {
    width: 50%;
    height: 100%;
    text-align: center;
}

.mm4 .di3 {
    padding: 19px 10px
}

.mm4 .di3 .ad {
    color: blueviolet;
    font-size: 24px;
    padding-right: 132px;
    padding-bottom: 12px;
}

.mm4 .di3 .pu {
    padding-right: 220px;
    height: 28px;
    width: 64%;
    border-radius: 10px;
}

.mm5 {
    width: 50%;
    height: 100%;
    text-align: center;
}

.mm5 .di4 {
    padding: 19px 10px
}

.mm5 .di4 .ad1 {
    color: blueviolet;
    font-size: 24px;
    padding-right: 132px;
    padding-bottom: 12px;
}

.mm5 .di4 .pu1 {
    padding-right: 220px;
    height: 28px;
    width: 64%;
    border-radius: 10px;
}


.mm6 {
    width: 50%;
    height: auto;
    text-align: center;
    display: flex;

}

.dv2 {
    width: 50%;
    height: 100%;
    background-color: black;
    display: flex;
    flex: auto;
}

.mm6 .dv2 .di5 {
    padding: 10px;
    color: blueviolet;
}

.mm6 .dv2 .di5 .ad2 {
    text-align: center;
    font-size: 20px;
    color: blueviolet;
    padding-bottom: 15px;

}

.mm6 .dv2 .di5 .pu2 {
    width: 153%;
    height: 26px;
    border-radius: 10px;

}

.mm6 .dv2 .di6 {
    /* float: right; */
    width: 58%;
    padding: 10px;
}

.mm6 .dv2 .di6 .ad3 {
    text-align: center;
    font-size: 20px;
    color: blueviolet;
    padding-bottom: 15px;
}

.mm6 .dv2 .di6 .pu3 {
    width: 34%;
    height: 24px;
    /* border-radius: 10px; */
}

.mm7 {
    width: 610px;
    text-align: center;
    height: 29px;
}

.di8 {
    padding-right: 82px;

}

.mm7 .pu4 {
    width: 506px;
    height: 28px;
    background-color: blue;
    color: white;
}

.mm7 .pu4 a {
    color: white;
}

.mm7 .pu4:hover {
    background-color: blue;
}

.map {
    float: right;
    width: 50%;
}

/*================================== end contact style========================================*/

@media(max-width:768px) {
    .contact h1 {
        font-size: 25px;

    }

    .contact .hr1 {
        width: 50%;
        margin: 10px auto;
        background-color: white;
        height: 3px;
    }

    .contact .hr2 {
        width: 45%;
        margin: 15px auto;
        border: 2px dashed white;
    }


    .contact .hr3 {
        width: 35%;
        margin: 15px auto;
        border: 2px dashed white;
    }

    .mm2 .pp {
        font-size: 19px;
        padding: 5px 56px;
    }

    .mm3 .dv1 .di1 {
        padding: 5px;
    }

    .mm3 .dv1 .di1 .em {
        font-size: 15px;
        padding-bottom: 10px;
    }



    .mm3 .dv1 .di1 .il {
        width: 100px;
        height: 18px;
        border-radius: 5px;
    }


    .mm3 .dv1 .di2 {
        width: 58%;
        padding: 5px;
    }


    .mm3 .dv1 .di2 .pa {
        font-size: 17px;
        padding-bottom: 6px;

    }

    .mm3 .dv1 .di2 .il1 {
        width: 80px;
        height: 18px;
        border-radius: 5px;
    }

    .mm4 .di3 {
        padding: 14px 4px;
    }

    .mm4 .di3 .ad {
        font-size: 15px;
        padding-right: 0px;
    }



    .mm4 .di3 .pu {
        width: 0px;
        padding-right: 206px;
        border-radius: 5px;
    }

    .mm5 .di4 {
        padding: 2px 1px;
    }

    .mm5 .di4 .ad1 {
        font-size: 15px;
        padding-left: 70px;
    }

    .mm5 .di4 .pu1 {
        width: 0px;
        padding-right: 206px;
        border-radius: 5px;
    }

    .mm6 .dv2 .di5 .ad2 {
        font-size: 15px;
        padding-right: 66px;
    }

    .mm6 .dv2 .di5 .pu2 {
        width: 95px;
        height: 24px;
        border-radius: 5px;
    }

    .mm6 .dv2 .di6 .ad3 {
        font-size: 15px;
        padding-right: 4px;
    }

    .mm6 .dv2 .di6 .pu3 {
        border-radius: 4px;
        width: 50px;
        height: 23px;
    }

    .contact .map {
        width: 50%;
        height: 100vh;
    }

    .contact .map iframe {
        border: 0;
        width: 100%;
        height: 115%;
    }

    .mm7 {
        width: 100px;
    }

    .mm7 .pu4 {
        width: 433px;
        height: 28px;
    }

}


/*-----------for mobile-------*/


@media(max-width:600px) {


    .contact h1 {
        font-size: 30px;
    }

    .contact .hr1 {
        width: 50%;
        height: 2px;

    }

    .contact .hr2 {
        width: 40%;
        border: 1px dashed white;
    }

    .contact .hr3 {
        width: 30%;
        border: 1px dashed white;
    }


    .contact .map {

        width: 100%;
        height: 100vh;
    }

    .contact .map iframe {

        border: 0;
        width: 100%;
        height: 90vh;
    }


    .mm2 {
        width: 100%;
        height: 100%;
        display: block;
    }

    .mm2 .pp {
        font-size: 35px;
    }

    .mm3 {
        width: 100%;
    }

    .mm3 .dv1 {
        width: 100%;
        display: block;
    }

    .mm3 .dv1 .di1 {
        padding: 10px;
    }

    .mm3 .dv1 .di1 .em {
        font-size: 24px;
        padding-bottom: 15px;
    }

    .mm3 .dv1 .di1 .il {
        width: 100%;
        height: 24px;
    }

    .mm3 .dv1 .di2 {
        width: 100%;
        padding: 1px;
    }

    .mm3 .dv1 .di2 .pa {
        font-size: 20px;
        padding-bottom: 12px;

    }

    .mm3 .dv1 .di2 .il1 {
        width: 94%;
        height: 25px;

    }

    .mm4 {
        width: 100%;
    }

    .mm4 .di3 .ad {
        font-size: 24px;
    }

    .mm4 .di3 .pu {
        width: 30%;
    }

    .mm5 {
        width: 100%;
        /* margin-left: 25px; */
    }

    .mm5 .di4 .ad1 {
        font-size: 25px;
        padding-left: 100px;
    }

    .mm5 .di4 .pu1 {
        width: 30%;

    }

    .mm6 {
        width: 100%;
    }

    .mm6 .dv2 .di5 {
        width: 60%;
    }

    .mm6 .dv2 .di5 .ad2 {
        font-size: 20px;
        padding-left: 50px;
    }

    .mm6 .dv2 .di5 .pu2 {
        width: 100%;
    }

    .mm6 .dv2 .di6 {
        width: 100%;
        padding: 5px;
    }

    .mm6 .dv2 .di6 .ad3 {
        font-size: 20px;
        padding: 9px 11px;

    }

    .mm6 .dv2 .di6 .pu3 {
        width: 100%;
    }

    .mm7 .pu4 {
        width: 310px;
        height: 29px;
    }

















}

/*==============================end media for second part style==================================*/